<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--connectionStrings>
      <add name="ExampleEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;
        data source=192.168.20.18;initial catalog=Example;persist security info=True;user id=ntk;password=NTK272new@@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings-->

    <!--add name="Model" connectionString="data source=192.168.20.18;initial catalog=EF6CodeFirst.Model;integrated security=True;user id=ntk;password=NTK272new@@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /-->

    <add name="Model" connectionString=" data source=192.168.20.18;initial catalog=Example;persist security info=True;user id=ntk;password=NTK272new@@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>